@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --title-color:hsla(221, 43%, 11%, 1);
    --text-color: hsla(220, 13%, 46%, 1);
    --main-color: hsla(0, 59%, 35%, 1);
    
    font-size: 62.5%; /* 1rem = 10px */
    
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.8rem;
    padding: 1rem 0;
}

nav .link a{
    font-size: 1.6rem;
    margin-left: 3.2rem;
    font-weight: 500;
    color: var(--text-color);
    
}
nav .link a:first-child{
    margin-left: 0;
}

nav button{
    padding: 1rem 1.8rem;
    cursor: pointer;
    border: none;
    border-radius: 0.8rem;
    font-weight: 500;
    line-height: 2.4rem;
    background: none;
    color: var(--text-color);
    font-size: 1.6rem;
}
nav #cadastrar{
    background: var(--main-color);
    color: #fff;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 9.6rem;
}
header h2{
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin-bottom: 2.4rem;
}
header h1{
    margin-bottom: 3.6rem;
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -0.02em;
    color: var(--title-color);
}
header p{
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    text-align: center;
    overflow: break-word;
    width: 79.1rem;
    margin-bottom: 10.7rem;
}
section.status div.itens{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3.2rem;
    margin-inline: 11.2rem;
}
div.item{
    width: 28rem;
    margin-bottom: 9.6rem;
}
section.status h2{
    margin-bottom: 1.2rem;
    color: var(--main-color);
    font-size: 6rem;
    font-weight: 600;
    line-height: 7.2rem;
    letter-spacing: -0.02em;
}
section.status h3{
    color: var(--title-color);
    margin-bottom: .8rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem;
}
section.status p{
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
}